.main-container {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/img/background-ilustration.svg") 100% no-repeat;

  .main-content {
   
    padding: 2rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    h1 {
      font-size: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 17rem;
      background: var(--linear-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1rem;
      margin: 0.2rem;
      color: var(--primary-color);
    }
  }
}
