.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;

  .about-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-img {
    width: 30vw;
    height: 80vh;
  }

  .about-description {
    width: 50vw;
    height: 80vh;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        margin-top: 2rem;
        background: var(--linear-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        text-align: center;
    }
  }
}
