@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,500&display=swap");

:root {
  --default-color: #fff;
  --primary-color: #000;
  --secondary-color: #01d079;
  --button-color: #149868;
  --lighting-color: #f7e11c;
  --linear-gradient: linear-gradient(89.98deg, #256eff 0.02%, #f84f60 102.46%);
  --alternative-color: #c2c2c2;
  --transition: all 0.3s linear;
  --filter: brightness(0.9);
  --border-radius: 1.5rem;
  --border-color: #c2c2c24f;
}

.dark-theme {
  --default-color: #131219;
  --primary-color: #fff;
  --lighting-color: #c2c2c2;
  --secondary-color: #256eff;
  --linear-gradient: linear-gradient(89.98deg, #256eff 0.02%, #f84f60 102.46%);
}

.light-theme {
  --default-color: #FFF;
  --primary-color: #000;
  --secondary-color: #01d079;
  --linear-gradient: linear-gradient(89.98deg, #01d079 0.02%, #fdec59 102.46%);
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
}

body {
  background: var(--default-color);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 10pt;
  }

  h1, h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 414px) {
  html {
    font-size: 10pt;
  }

  h1, h2 {
    font-size: 1rem;
  }

  nav {
    width: 100vw;
    height: auto;
  }
}

@media screen and (max-width: 584px) {
  html {
    font-size: 10pt;
  }

  h1, h2 {
    font-size: 1rem;
  }

  nav {
    width: 100vw;
    height: auto;
  }
}

@media screen and (max-width: 280px) {
  .logo {
    font-size: 0.7rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links li {
    font-size: 1rem;
  }

  nav {
    width: 100vw;
    height: auto;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-mode {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    height: auto;
    width: 150%;
  }

  .main-container .main-content h1 {
    font-size: 3rem;
    margin-top: -2rem;
  }

  .cases-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cases-content h1 {
    font-size: 3rem;
  }

  .scan-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 320px) {
  nav {
    width: 100vw;
    height: auto;
  }

  html {
    font-size: 10pt;
  }

  h1, h2 {
    font-size: 1rem;
  }
}
