.scan {
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 5rem;
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }

  .scan-subtitle {
    font-size: 1rem;
    color: var(--primary-color);
  }

  img {
    margin-top: 1em;
    width: 10em;
    height: 10em;
  }
}
